[user]
	email = xuelinye9@gmail.com
	name = leisiji
[core]
	editor = nvim --cmd 'let g:unception_block_while_host_edits=1'
	pager = git-split-diffs --color | less -RFX
	excludesfile = ~/.gitignore_global
[color]
	ui = true
[pager]
	show = bat
	diff = git-split-diffs --color | bat --decorations never
[alias]
	rg = !rg $(git rev-parse --show-toplevel) --column --smart-case -e
	cma = commit --amend
	df = diff .
	dfc = diff --cached
	dfs = diff --cached --stat
[init]
	defaultBranch = main
[http]
	sslverify = false
