export QT_QPA_PLATFORMTHEME="qt5ct"
export GTK_IM_MODULE=fcitx5
export QT_IM_MODULE=fcitx5
export XMODIFIERS="@im=fcitx5"
fcitx5 -d
hdmi=$(xrandr | grep 'HDMI[-]*[[:digit:]] connected')
eDP=$(xrandr | grep 'eDP[-]*[[:digit:]] connected')
if [ ! -z "$hdmi" ]; then
	xrandr --output ${hdmi%% *} --auto --primary --output ${eDP%% *} --off
fi

dateblocks ()
{
	while :; do
		date=$(date "+%m-%d,%a %H:%M")
		xsetroot -name "${date}"
		sleep 60
	done
}
dateblocks &
# vim:tw=78:ts=4:ft=sh
